.github_star_link {
  background: rgb(255,205,113);
  font-size: 1.3rem;
  min-width: 9em;
  outline: none;
  border: none;
  display: block;
  padding: 1em 1em;
  margin: 0 auto;
  background-size: 0%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('/images/star.svg');
  transition: 0.3s background cubic-bezier(0.7, 0.43, 0.68, 1.58), 0.5s color ease;
  position: relative;
  color: #B54849;
}

.github_star_link--starcount {
  color: #F67374 !important;
  background-image: url('/images/star.svg');
  background-size: 50% !important;
  font-weight: bold;
  background-color: transparent;
}
.github_star_link--starcount::after {
  border: none !important;
}

.github_star_link:hover, .github_star_link:focus {
  background-size: 45%;
  color: rgba(0,0,0,0);
}

.github_star_link:active {
  background-size: 56%;
  transition: 0.05s background cubic-bezier(0.7, 0.43, 0.68, 1.58), 0.5s color ease;
}

.github_star_link::after {
    content: '';
    position: absolute;
    border-bottom: 5px solid transparent;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: scale3d(0,1,1);
    transition: transform 0.3s;
  }

  .github_star_link:hover::after, .github_star_link:focus::after {
    width: 100%;
    border-bottom-color: #B54849;

    transform: scale3d(1,1,1); // Show full-size
  }

  .github_star_link:hover .github_star_link__starcount,
  .github_star_link:focus .github_star_link__starcount{
    color: #F67374;
  }

  .github_star_link__starcount {
    position: absolute;
    text-align: center;
    width: 100%;
    transition: .5s all;
    top: 1em;
    left: 0;
    color: rgba(0,0,0,0);
    font-weight: bold;
  }
