/*landing page styles*/
body, html {
  padding: 0;
  margin: 0;
  font-family: helvetica;
}

.landing_logo {
  width: 13em;
  height: auto;
  margin: 0 auto;
  display: block;
}

.landing_heading {
  margin: 0em 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(230,121,121);
}

.landing_heading__sub {
  font-size: 2.7rem;
  line-height: 4rem;
  display: block;
  color: #216868;
}

.login_with_github_wrap {
  text-align: center;
  width: 100%;
}

.login_with_github {
  background: rgb(230,121,121);
  margin: 1em 0 1em 0;
  background-image: url('/images/github-logo.svg');
  background-size: 17%;
  background-position: 5.5% center;
  border-radius: .3rem;
  color: white;
  text-decoration: none;
  background-repeat: no-repeat;
  font-size: 1.3rem;
  padding: 1rem 1rem 1rem 4rem;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.11), 0 3px 6px rgba(0,0,0,0.13);
  transition: 0.3s all ease;
}

.login_with_github:focus, .login_with_github:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.14), 0 6px 6px rgba(0,0,0,0.15);
}

.login_with_github__text {
  color: white;
}

.landing__info__wrap {
  max-width: 30em;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.landing__info {
  cursor: pointer;
  width: auto;
  height: auto;
  border-radius: .75em;
  background-color: rgb(174,55,56);
  max-width: 1.5em;
  min-width: 1.5em;
  min-height: 1.5em;
  font-size: 1.8em;
  line-height: 1.5em;
  color: white;
  text-align: center;
  margin: 0 auto;
  transition: .3s all ease;
  box-sizing: border-box;
  display: block;
}

.landing__info--active {
  text-align: left;
  font-size: 1em;
  min-height: 6em;
  color: white;
  background-color: rgb(174,55,56);
  border-radius: .3em;
  min-width: 100%;
  padding: 1em;
  transition: .2s all cubic-bezier(0.22, 0.61, 0.36, 1);
  margin: 0 auto;
}

.hiddenIntro {
  display: none;
}

.gradient_bulb_glow {
  padding-top: 4em;
  height: 100vh;
  background: #ffcda3;
}


.gradient--active {
  background: -webkit-radial-gradient(circle at center 10vh, white, #fbe9a1, #ffcda3); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(circle at center 10vh, white, #fbe9a1, #ffcda3); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle at center 10vh, white, #fbe9a1, #ffcda3); /* For Fx 3.6 to 15 */
  background: radial-gradient(circle at center 10vh, white, #fbe9a1, #ffcda3); /* Standard syntax (must be last) */
}
