html, body {
  margin: 0 auto;
  font-family: helvetica;
}

header {
  background: rgb(230,121,121);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5em;
}

.profile_img {
}

h1 {
  font-size: 1em;
}

footer {
  background:rgb(230,121,121);
  display: flex;
  justify-content: center;
}

.github_link {
  background: rgb(255,205,113);
  padding: 1em;
  line-height: 1.5em;
  margin: 2em;
}

/*landing page styles*/

.landing {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing_heading {
  margin: 0;
}

.landing_text {
  margin: 1em;
}

#login {
  background: rgb(230,121,121);
  margin-bottom: 1em;
}

/*apps homepage styles*/
.apps_intro {
  margin: 1em;
}

.apps {
  width: 100%;
  margin: 0 auto;
  max-width: 92rem;
  font-size: 0;
}

.app {
  margin: .5em;
  background-color: #F5F5F5;
  width: 19rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  min-height: 25.4rem;

  -webkit-box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.1);
  box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.1);
}

.app__image {
  background-color: #F5F5F5;
  width: 100%;
  height: 12rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.app__image--lpop {
  background-color: #FBE9A1;
  background-image: url('/images/lolipop.jpg');
}

.app__image--202020 {
  background-color: #B0E8AE;
  background-image: url('/images/clock.jpg');
}

.app__image--add {
  background-color: #96E7E0;
  background-image: url('/images/plus.jpg');
}

.app__title {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #F57373;
  text-align: center;
  font-family: 'Hind', sans-serif;
}

.app__text {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgba(0,0,0,.7);
  padding: 0 2rem;
  font-family: 'Open Sans', sans-serif;
}

/*stopwatch app*/
.stopwatch {
  min-height: 75vh;
}
.stopwatch {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stopwatch__button {
  line-height: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.stopwatch__display {
  margin-bottom: 1em;
}

/*lpop app*/
.lpop {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
