{{> appheader}}
<div class="add_app">
  <h1 class="add_app_heading">Build your own</h1>
    <div class="add_app_text">
    <p>We highly encourage you to contribute your own productivity tools, maybe once you have completed the first 8 weeks of the <a href="https://foundersandcoders.com/" class="inline_link">Founders and Coders bootcamp</a>.</p>
    <p>Here's how to get started:</p>
    <ol>
      <li>Clone the GitHub repository: <span class="inline_link"> https://github.com/yvonne-liu/FAC-Hardware.git</span></li>
      <li>Create a new branch for you to work on</li>
      <li>Run npm install</li>
      <li>Set up your own <a href="https://github.com/foundersandcoders/oauth-workshop/blob/master/step2.md" class="inline_link">access keys</a> (remember to add them to your gitignore)</li>
      <li>In "apps", create a new folder named after your tool</li>
      <li>Save your JavaScript logic here</li>
      <li>Push your branch to GitHub</li>
      <li>Ping <a href="https://github.com/lucyrose93" class="inline_link">Lucy Sabin</a> (@lucyrose93 on gitter), so she can hook your branch up to the front end before it is pushed to master and immortalised.
    </ol>
  </div>
</div>
<script src='/js/index.js'></script>
