{{>appheader}}

<section class="info-box">
  <p><strong>Use this form to print anything you want line by line to the LED matrix</strong></p>
  <p>(Example: print the WiFi password at Founders &amp; Coders Meetups)</p>

  <form id="form" class="led">
    <input id="m" class="led__input" autocomplete="off" maxlength="15" />
    <button id="button" class="led__button">Send</button><button id="clear_button" class="led__button">Clear</button>
    <div id="charLeft">&nbsp;</div>
  </form>
</section>

{{>socket.wifipwd.io}}
