  <header>
    <img class="logo" src="" alt ="fac logo">
  <div class="header_right">
    <h4 class="welcome_msg">Welcome back,</br>{{credentials.name}}!</h4>

      <div class="dropdown">
        <img class="profile_img" src={{credentials.avatar}} alt="user profile image">
      <div class="dropdown_content">

        <a href="#" class="dropdown_link">
          <button type="button" name="button" class="logout_btn">
            log out</button>
        </a>

      </div>
    </div>

  </div>
  </header>

  <section class="apps_intro">
    <p class="apps_intro__text">Welcome to our hardware projects! These projects can be used online or connected to an LED display.</p>
    <p class="apps_intro__text">Want to find out more and get involved? Star our <a class="apps_intro__link" href="https://github.com/yvonne-liu/FAC-Hardware">GitHub repo</a> to get started.</p>
  </section>

  <section class="apps">

  <a href="#" class="app">
    <div class="app__image app__image--lpop"></div>
    <h1 class="app__title">lpop</h1>
    <p class="app__text">Lpop is like selecting a name out of a hat. It’s useful for picking random class members to answer a question or demo their work.</p>
  </a>

  <a href="#" class="app">
    <div class="app__image app__image--202020"></div>
    <h1 class="app__title">20:20:20</h1>
    <p class="app__text">Should I ask for help?</p>
    <p class="app__text">When you hit a wall, research the problem, ask your peers, then ask a mentor, in 20-minute bursts.</p>
  </a>

  <a href="#"  class="app">
    <div class="app__image app__image--add"></div>
    <h1 class="app__title">add an app</h1>
    <p class="app__text">You are welcome to add your own F&C hardware projects.</p>
    <p class="app__text">Please visit our GitHub repository to find out more.</p>
  </a>

  <article class="app">
    <div class="app__image"></div>
  </article>


  </section>

  <footer>
    <button type="button" name="button" class="github_link">Star on Github</button>
  </footer>

</body>
</html>
