{{>homeheader}}

  <section class="apps_intro">
    <p class="apps_intro__text">Boost your productivity with these awesome learning tools. They can be used individually or in combo.</p>
    <p class="apps_intro__text">In the Founders and Coders space, we like to connect the apps to an LED display, so that everyone can get involved. </p>
    <p class="apps_intro__text">Feel free to check out <a href="https://github.com/yvonne-liu/FAC-Hardware" class="apps_intro__link">our source code</a> on GitHub if you're curious.</p>

  </section>

  <section class="apps">

  <a href="#" class="app">
    <div class="app__image app__image--lpop"></div>
    <h1 class="app__title">lpop</h1>
    <p class="app__text">Lpop is like selecting a name out of a hat. It’s useful for picking random class members to answer a question or demo their work.</p>
  </a>

  <a href="/twenty" class="app">
    <div class="app__image app__image--202020"></div>
    <h1 class="app__title">20:20:20</h1>
    <p class="app__text">Should I ask for help?</p>
    <p class="app__text">When you hit a wall, research the problem, ask your peers, then ask a mentor, in 20-minute bursts.</p>
  </a>

  <a href="#"  class="app">
    <div class="app__image app__image--add"></div>
    <h1 class="app__title">add an app</h1>
    <p class="app__text">You are welcome to add your own Founders and Coders hardware projects.</p>
    <p class="app__text">Please visit our GitHub repository to find out more.</p>
  </a>

  <a href="#"  class="app">
    <div class="app__image app__image--add"></div>
    <h1 class="app__title">add an app</h1>
    <p class="app__text">You are welcome to add your own Founders and Coders hardware projects.</p>
    <p class="app__text">Please visit our GitHub repository to find out more.</p>
  </a>

  </section>

  {{> footer}}

  <script src='/js/index.js'></script>
