<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./public/assets/style.css">
  <title>Fac Productivity Apps Home</title>
</head>
<body>

  <header>
    <img src="" alt="user profile image" class="profile_img">
    <h1>Welcome back, {{credentials.name}}</h1>
    <button type="button" name="button">sign out</button>
  </header>

  <p class="apps_intro">Welcome to our productivity apps... </p>

  <section class="apps">

  <article class="app">
    <img src="" alt="">
    <h1>LPOP</h1>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </article>

  <article class="app">
    <img src="" alt="">
    <h1>20:20:20 Timer</h1>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </article>

  <article class="app">
    <img src="" alt="">
    <h1>Add your own!</h1>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </article>

  </section>

  <footer>
    <button type="button" name="button" class="github_link">Github repo</button>
  </footer>

</body>
</html>
