{{>homeheader}}

  <section class="apps_intro">
    <p class="apps_intro__text">Boost your productivity with these simple tools. Use them individually or in combo, to help you structure project work.</br></br>
    At the Founders and Coders bootcamp, we like to connect the tools to an LED display, so that everyone can get involved. Check out the LED matrix branch in <a href="https://github.com/yvonne-liu/FAC-Hardware" class="apps_intro__link">our GitHub repo</a> if you're curious about how this works.</br></br>
    <b>Top Tip</b>: add tools that you find especially useful to your Bookmarks Bar.
    </p>
  </section>

  <section class="apps">

  <a href="/lpop" class="app">
    <div class="app__image app__image--lpop"></div>
    <h1 class="app__title">Lollipop</h1>
    <p class="app__text">Lollipop is like selecting a name out of a hat. It’s useful for picking random class members to answer a question or demo their work.</p>
  </a>

  <a href="/twenty" class="app">
    <div class="app__image app__image--202020"></div>
    <h1 class="app__title">20:20:20</h1>
    <p class="app__text">Should I ask someone more experienced for help?</p>
    <p class="app__text">When you hit a wall, research the problem, ask your peers, then ask a mentor, in 20-minute bursts.</p>
  </a>

  <a href="/pomodoro"  class="app">
    <div class="app__image app__image--pomodoro"></div>
    <h1 class="app__title">Pomodoro Timer</h1>
    <p class="app__text">Work efficiently and remember to take proper breaks by custom time-boxing your sessions. That's workplace time management sorted.</p>
  </a>

  <a href="/add"  class="app">
    <div class="app__image app__image--add"></div>
    <h1 class="app__title">add an app</h1>
    <p class="app__text">You are welcome to add your own contributions to our Productivity Tools. Follow these steps to get started...</p>
  </a>

  </section>
