<header>
    <img src="" alt="user profile image" class="profile_img">
    <h1>Welcome back, {{credentials.name}}</h1>
    <button type="button" name="button">sign out</button>
</header>

  <section class="apps_intro">
    <h2 class="apps_intro__text">Welcome to our hardware projects! These projects can be used online or connected to an LED display.
Want to find out more and get involved? Star our GitHub repo to get started.</h2></section>

  <section class="apps">

  <a href="#" class="app">
    <div class="app__image app__image--lpop"></div>
    <h1 class="app__title">lpop</h1>
    <p class="app__text">Lpop is like selecting a name out of a hat. It’s useful for picking random class members to answer a question or demo their work.</p>
  </a>

  <a href="#" class="app">
    <div class="app__image app__image--202020"></div>
    <h1 class="app__title">20:20:20</h1>
    <p class="app__text">Should I ask for help?</p>
    <p class="app__text">When you hit a wall, research the problem, ask your peers, then ask a mentor, in 20-minute bursts.</p>
  </a>

  <a href="#"  class="app">
    <div class="app__image app__image--add"></div>
    <h1 class="app__title">add an app</h1>
    <p class="app__text">You are welcome to add your own F&C hardware projects.</p>
    <p class="app__text">Please visit our GitHub repository to find out more.</p>
  </a>

  <article class="app">
    <div class="app__image"></div>
  </article>


  </section>

  <footer>
    <button type="button" name="button" class="github_link">Github repo</button>
  </footer>

</body>
</html>
