<article class="landing gradient_bulb_glow">
  <img src="./images/logo.jpg" alt="Light bulb logo" class="landing_logo">
  <div class="landing__info__wrap">
    <h1 class="landing_heading">Founders and Coders
      <span class="landing_heading__sub">Productivity Apps</span>
    </h1>
    {{> github-login}}
    <div class="landing__info">i</div>
    <div class="hiddenIntro">Welcome to Founders and Coders Productivity Apps! This platform is full of learning hacks based on tried and tested techniques from our <a href="https://foundersandcoders.com/">coding bootcamps</a>.
    </div>
  </div>
</article>

<script src='/js/home.js'></script>
