<article class="landing">
  <img src="" alt="Logo here">
  <h1 class="landing_heading">Founders and Coders</h1>
  <h2 class="landing_heading">Productivity Apps</h2>
  <p class="landing_text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  </p>

  {{> github-login}}

</article>

<footer>
  <button type="button" name="button" class="github_link">Github repo</button>
</footer>
