{{> appheader}}

<div class="lollipop">
  <div class="lollipop__inner"></div>
  <div class="lollipop__text"></div>
</div>

<button class="#">lollipop</button>

{{> footer}}

<script src="#"></script>
