<div id="lpop"></div>

<div id="container">
  <button id="pop">LPop</button>
  <p class="lpop_explained">
    <span class="lpop_qn">Who's up next?</span></br>
    We used to pull lollipop sticks out of a jar in order to decide.</br>
    Then we thought, there should be an app for that...
  </p>
  <a href="/lpop-admin" class="inline_link"><div class="access_admin">Access admin</div></a>
</div>

{{> socketIo}}
