{{> appheader}}

<div class="pomodoro">
  <div class="pomodoro__inner"></div>
  <div class="pomodoro__text"></div>
</div>

<button class="pomodoro__pause">pause</button>

{{> footer}}

<script src="/js/pomodoro.js"></script>
<script src="/js/pomodoro-dom.js"></script>
<script src='/js/index.js'></script>
