{{> appheader}}

<div class="cup"></div>
<div class="pom">
  <div class="pomodoro__stalk"></div>
  <div class="pomodoro">
    <div class="pomodoro__inner"></div>
    <div class="pomodoro__text"></div>
  </div>
</div>
<input type="text" />
<button class="pomodoro__pause">pause</button>

<script src="/js/pomodoro.js"></script>
<script src="/js/pomodoro-dom.js"></script>
