<!-- <section class ="container">

<header>
  <h1>20:20:20 Timer</h1>
</header> -->

{{>appheader}}

<section class="stopwatch">
  <button id="start" class="stopwatch__button">start</button>
  <div class="stopwatch__button">
  <button id="stop" class="stopwatch__button">stop</button>
  <button id="reset" class="stopwatch__button">reset</button>
  <!-- <button id="lap" class="stopwatch__button">lap</button> -->
  </div>
  <section id="display" class="stopwatch__display">00:00.00</section>
  <section id="hourdisplay" class="stopwatch__hours"></section>
  <section id="twentycontainer"></section>
</section>

<footer>
<button type="button" name="button" class="github_link">GitHub repo</button>
</footer>

<script type="text/javascript" src="./js/twenty.js"></script>
