{{>appheader}}

<section id="wifipwd">
  <h3>Use this to print anything you want on the LED matrix</h3>
  <h4>(Example: print the WiFi password on Coding For Everyone Meetups)</h4>
  <form id="form">
     <input id="m" autocomplete="off" />
     <button id="button" >Send</button>
  </form>
</section>

{{>socket.wifipwd.io}}
