<header>
  <div class="logo"></div>
<div class="header_right">
  <h4 class="welcome_msg">Welcome back,</br>{{credentials.name}}!</h4>

  <img class="profile_img" src={{credentials.avatar}} alt="user profile image">
</div>

<a href="#" class="profile_dropdown">
  <button type="button" name="button" class="logout_btn">log out</button>
</a>
</header>
