<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="./css/main.css" content-type="text/css">
  <link rel="stylesheet" href="/css/landing.css" content-type="text/css">
  <link rel="stylesheet" href="/css/apps.css" content-type="text/css">
  <link rel="stylesheet" href="/css/lpop.css" content-type="text/css">
  <link rel="stylesheet" href="/css/pomodoro.css" content-type="text/css">
  <link rel="stylesheet" href="/css/twenty.css" content-type="text/css">
  <link rel="stylesheet" href="/css/gstar.css" content-type="text/css">
  <link rel="stylesheet" href="/css/user.css" content-type="text/css">
  <link rel="stylesheet" href="/css/add.css" content-type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Hind|Open+Sans" rel="stylesheet">
  <title>FAC Productivity Apps {{title}}</title>
</head>
<body>
  <section class="content">
    <section class="content-inside">
    {{{content}}}
    </section>
  </section>

</body>
</html>
